fastapi
uvicorn
python-docx
docx2pdf
pandas
docxtpl
python-pptx
comtypes
sqlalchemy
pymysql
python-dotenv
redis
celery
python-multipart
passlib[bcrypt]
python-jose[cryptography]
httpx
pydantic-settings
pydantic[email]
google-generativeai
